.chapter {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.chapter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.chapter-description {
    margin-top: 10px;
}

.edit-chapter button {
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-chapter button:hover {
    background-color: #005fa3;
}